<div class="row w-100 mt-3 pl-1">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        These components were created with Angular 14. 
    </div>
    <div class="col-lg-3"></div>

</div>

<div class="row w-100 mt-3">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="row w-100">
            <app-basic-form class="my-2 col-lg-6"></app-basic-form>
            <app-text-mirror class="my-2 col-lg-4"></app-text-mirror>
            <app-color-numbers-ui class="my-2 col-lg-4"></app-color-numbers-ui>
            <app-color-numbers class="my-2 col-lg-4"></app-color-numbers>
            <app-counter-ui class="my-2 col-lg-4"></app-counter-ui>
            <app-counter class="my-2 col-lg-4"></app-counter>
            <app-clock class="my-2 col-lg-4"></app-clock>
            <app-hello-world class="my-2 col-lg-4"></app-hello-world>
        </div>
    </div>
        
    <div class="col-lg-1"></div>
</div>
