.square{ 
    max-height:50px; 
    max-width:50px; 
    min-height:50px; 
    min-width:50px; 
    font-size:1.4rem; 
}

.oStyle{
    font-weight:bold; 
    color:red; 
}

.xStyle{
    font-weight:bold; 
    color:blue; 
}

// .rem-1{
//     font-size:1rem; 
// }