<div class="row w-100 mt-3">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card border-0">
            <div class="card-body">
            <p class="card-text">
                    Hi, my name is Ben Gross, and I am a student in the MIT xPRO Full Stack Web Application Development with MERN Certificate Program. 
                    
                </p>
                <p class="card-text">
                    I created this project with the following intent. 
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        As a playground to help me learn Angular
                    </li>
                    <li class="list-group-item">
                        As a repository to showcase my Angular skills and capabilities along my learning journey 
                    </li>
                    <li class="list-group-item">
                        As a location to put my self-learning assignments for the MIT xPRO coursework. 
                    </li>
                </ul>
                <p class="card-text">
                    Please peruse the projects that comprise my Angular learning journey and contact me at <a target="_blank" href="mailto:gross.benji@gmail.com">gross.benji@gmail.com</a> or via <a target="_blank" href="https://www.linkedin.com/in/nutritionengineering/">LinkedIN</a> if you have any questions.
                </p>
            </div>

        </div>
    </div>
    <div class="col-lg-3"></div>

</div>
